<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= current_page.data.title || "Presentaciones de desarrollo web - HTML, CSS y JS" %></title>

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/revealjs/css/reveal.css">
  <link rel="stylesheet" href="/revealjs/css/theme/moon.css">
  <%= stylesheet_link_tag "slides" %>

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="/revealjs/lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '/revealjs/css/print/pdf.css' :
      '/revealjs/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

  <body>
  <div class="reveal">
    <div class="slides">
      <%= yield %>
    </div>
  </div>

  <script src="/revealjs/lib/js/head.min.js"></script>
  <script src="/revealjs/js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      // controls: false,
      transition: 'none',
      dependencies: [{
          src: '/revealjs/plugin/markdown/marked.js'
        },
        {
          src: '/revealjs/plugin/markdown/markdown.js'
        },
        {
          src: '/revealjs/plugin/notes/notes.js',
          async: true
        },
        {
          src: '/revealjs/plugin/highlight/highlight.js',
          async: true,
          callback: function () {
            hljs.initHighlightingOnLoad();
          }
        }
      ]
    });
  </script>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</body>

</html>
