---
title: Presentación
layout: layout-slides
---

%section
  %h1 Nombre de la charla
%section
  %h2 Titular de slide
  %p
    Programamos comportamientos: ˝cuando se hace click aquí, ocurre algo˝.
%section
  %h2 Objetivos
  %ul
    %li acceder al contenido de una web
    %li modificar el contenido de una web
    %li programar reglas
    %li reaccionar a eventos
%section
  %h2 Ejemplo
  %p
    ˝Si yo hago click…˝
  %p
    ˝en un elemento que tenga la clase 'elemento'…˝
  %p
    ˝…quita o ponle la clase 'activo' ˝
%section
  .codepen(data-height="500" data-theme-id="0" data-slug-hash="JLRqbJ" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")

%section
  %p
    Para usar JavaScript, necesitamos vincular un archivo con la extensión .js al final de nuestro HTML.
  %pre
    %code
      :preserve
          &lt;script src="comportamiento.js"&gt;&lt;/script&gt;
        &lt;/body&gt;
%section
  .codepen(data-height="500" data-theme-id="0" data-slug-hash="MVbeMX" data-default-tab="js,result" data-user="htmlboy" data-embed-version="2")
%section
  %img.clean(src="images/demo-img.png" alt="")
  %p
    jQuery es un conjunto de funciones prefabricadas para que nos sea más fácil escribir y aprender JavaScript.
  %p
    Es como aprender a andar en bicicleta con ruedecitas.
